.header {
  height: 35px;
  font-size: 20px;
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 10px;

  &:after {
    content: '';
    background: linear-gradient(90deg, #cc1480 21%, #d92776 22%, #d92776 40%, #e6396c 41%, #e6396c 59%, #f24c62 60%, #f24c62 78%, #ff5e58 79%), #cc1480;
    height: 4px;
    display: block;
    position: absolute;
    bottom: 0;
    left: -10px;
    right: -10px;
    transform: translateY(-36px);
    transition: transform 150ms ease-out;
  }

  > span {
    opacity: 0;
    transition: opacity 200ms ease-in;
  }

  strong {
    font-weight: bold;
    margin-right: 10px;
  }

  &.hasName {
    &:after {
      transform: translateY(0);
    }
    > span {
      opacity: 1;
    }
  }
}

.icon {
  margin-left: 10px;
  vertical-align: middle;
}
