@import '../../variables';

.header {
  height: 35px;
  font-size: 20px;
  position: relative;
  padding-bottom: 10px;
  grid-area: header;

  &:after {
    content: '';
    background: $cibus-brand-line;
    height: 4px;
    display: block;
    position: absolute;
    bottom: 0;
    left: -10px;
    right: -10px;
    transform: translateY(-36px);
    transition: transform 150ms ease-out;
  }

  > span {
    opacity: 0;
    transition: opacity 200ms ease-in;
  }

  strong {
    font-weight: bold;
    margin-right: 10px;
  }

  &.hasName {
    &:after {
      transform: translateY(0);
    }

    > span {
      opacity: 1;
    }
  }
}

.icon {
  margin-left: 10px;
  vertical-align: middle;
}
