html {
  direction: rtl;
}

body {
  font-family: 'Assistant', sans-serif;
  -webkit-font-smoothing: antialiased;
  height: 510px;
  width: 325px;
  margin: 0;
  padding: 5px 10px;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

:global(#root) {
  height: 100%;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: -10px;
    right: -10px;
    height: 15px;
    opacity: .5;
    background: linear-gradient(90deg, #cc1480 21%, #d92776 22%, #d92776 40%, #e6396c 41%, #e6396c 59%, #f24c62 60%, #f24c62 78%, #ff5e58 79%), #cc1480;
  }
}
