@import 'popup/variables';

html {
  direction: rtl;
}

body {
  font-family: 'Assistant', sans-serif;
  -webkit-font-smoothing: antialiased;
  height: 530px;
  width: 325px;
  margin: 0;
  padding: 5px 10px;
  font-size: 16px;
  color: rgb(51, 51, 51);
}

* {
  box-sizing: border-box;
}

:global(#root) {
  height: 100%;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: -10px;
    right: -10px;
    height: 15px;
    opacity: 0.5;
    background: $cibus-brand-line;
  }
}
