.app {
  height: inherit;
  display: grid;
  grid-gap: 10px;
  grid-template-rows: 35px 1fr;
  grid-template-areas: 'header' 'main';

  .main {
    padding-bottom: 10px;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: -1;
      background-repeat: no-repeat;
      background-position: center;
      background-image: var(--company-logo);
      opacity: 0.05;
    }
  }
}
